<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fahamutech.doctorapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.JifunzeActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CategoryContent"
            android:label="@string/title_activity_category_content"
            android:parentActivityName=".activities.JifunzeActivity" />
        <activity
            android:name=".activities.ReadActivity"
            android:label="@string/title_activity_read"
            android:parentActivityName=".activities.CategoryContent" />

        <activity
            android:name=".activities.SimpleImageViewer"
            android:label="@string/title_activity_simple_image_viewer"
            android:parentActivityName=".activities.JifunzeActivity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>